:root {
    --color1: #1e201e00;
    --color2: #3c3d3700;
    --color3: #697565;
    --color4: #ECDFCC;

    --hoverColor: #617c59;
}

*{
    color: var(--color4);
    font-family:cursive;
}


body {
    background-color: rgb(0, 0, 0);
    text-align: center;
}

#menu {
    display: block;
}

#game {
    display: none;
}

#result {
    display: none;
}

.requestBox {
    background-color: var(--color2);
    border: 20px solid var(--color4);
    border-radius: 70px;

    margin: 0 auto 0 auto;
    position: relative;
    top: -700px;

    z-index: 1;

    box-shadow: 10px 20px 10px black;
}

#result {
    width: 400px;


    font-size: 32px;
}

.container {
    width: 800px;
    height: 900px;
    margin: 0 auto 0 auto;
    
    background-color: var(--color1);
    border: 30px solid var(--color2);
    border-radius: 100px;
}

.container h1 {
    padding: 20px;
    margin: 0px;
    font-size: 48px;
}

button {
   background-color: var(--color3);
   margin: 10px;

   height: 50px;
   
   font-size: 32px;
   border-radius: 20px;
}

button:hover {
    background-color: var(--hoverColor);
}


